<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
    <title>Wall</title>
</head>
<body>
    <div class="wrapper">
        <a href="/logout"><button>Logout</button></a>
        <h1>Success! Welcome {{ request.session.user }}!</h1>

        <div class="write">
            <h2>Write a Post:</h2>
            <form action="/process_message" method="POST">
                {% csrf_token %}
                <input type="text" name="mess">
                <input type="submit" value="post">
            </form>
        </div>

        <div class="posts">
            {% for post in wall_messages %}
            <div class="one_post">
                <h3 class="post">{{post.message}}</h3>
                <p class="poster">by: <a href="/user_profile/{{post.poster.id}}">{{post.poster.first_name}} {{post.poster.last_name}}</a></p>
                <a href="/like/{{post.id}}">Like Post</a>
                <p>Likes: {{ post.user_likes.count }}</p>
                <form action="/add_comment/{{post.id}}" method="POST">
                    {% csrf_token %}
                    Comment: <input type="text" name="comment">
                    <input type="submit" value="submit"><br><br>
                </form>
                {% for comment in post.post_comments.all %}
                    <li>{{comment.comment}}</li>
                    <ul>poster: {{comment.poster.first_name}} {{comment.poster.last_name}}</ul>
                    <a href="/delete/{{comment.id}}">Delete</a><br><br>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    
</body>
</html>